<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <script src="ajax.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <form id="signForm">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value=""><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value=""><br>
        <input id='signUpButton' type="button" value="Sign Up" onclick="signUp()">
        <input id='signInButton' type="button" value="Sign In" onclick="signIn()">
    </form> 
</body>
</html>